@using ArrumaCaixasBG.Dominio


<RadzenListBox @ref="lista" @bind-Value="Selecionado" Data=@DadosTela.Caixas 
               AllowClear=true Placeholder="Caixas" Style="width: 100%; max-width: 200px; height: 400px">
    <Template>
        @{
            var atual = (context as CaixaBlazor) ?? throw new Exception("não vai ser nulo");
        }
        <RadzenText TextStyle="TextStyle.Caption">@atual.Nome</RadzenText>
        <br/>
        <button style="background-color: @atual.Cor; width: 100%; height: 1em;"></button>
    </Template>    
</RadzenListBox>


@code {

    [Parameter]
    public DadosTela DadosTela
    {
        get => dadosTela;
        set
        {
            dadosTela = value;
            StateHasChanged();
        }
    }

    private CaixaBlazor? Selecionado { get; set; }
    private RadzenListBox<CaixaBlazor?>? lista;
    private DadosTela dadosTela;

    public void SelecionarItem(CaixaBlazor? caixa)
    {
        if (lista is not null)
            Selecionado = caixa;
        StateHasChanged();
    }
}