@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <RadzenRow Style="padding-bottom: 1em">
            <RadzenMenu Style="width: 100%">
                <RadzenMenuItem Text="Visualizar" Path="/" Icon="home"></RadzenMenuItem>
                <RadzenMenuItem Text="Organizar" Path="Organizar" Icon="payment"></RadzenMenuItem>
            </RadzenMenu>
        </RadzenRow>
        @Body
        <!--        <article class="content px-4">
        </article> -->
    </main>
</div>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>